*::before,
*::after {
    box-sizing: inherit;
    font-family: 'fonticon', 'fonticon2', 'Arial';
}


.section-Contact {
    position: absolute;
    width: 280px;
    height: 250px;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 100px;
    box-sizing: border-box;
    background: #1c1c24;
    top: 50px;
    left: 400px;
    border: #4a4e51 solid 1px;
    font-family: 'shabnam';
    color: white;
}

.section-Contact:hover {
    box-shadow: 0px 0px 5px 1px #4a4e51;
}

.main-input {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    font-size: 16px;
}

.input-add {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    color: #eee;
    font-size: 12px;
    padding: 4px 20px 0;
    border-radius: 12px;
    background: #18171d;
    box-sizing: border-box;
}

.cut {
    top: -20px;
    right: 20px;
    width: 130px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 200ms;
    background: #1c1c24;
}

.cut-long {
    width: 60px;
}

.input-add:focus~.cut,
.input-add:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 3px 0.5px #4a4e51;
}

.placeholder {
    top: 20px;
    right: 20px;
    color: #716f79;
    line-height: 14px;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    font-size: 14px;
}

.input-add:focus~.placeholder,
.input-add:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input-add:not(:placeholder-shown)~.placeholder {
    color: #716f79;
}

.input-add:focus~.placeholder {
    color: #ef1f35;
}

.input-add:focus {
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 3px 0.5px #4a4e51;
}

.submit-add {
    background: linear-gradient(45deg, #0f8ca6, #40a0e5);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 98%;
    font-family: 'shabnam';
}

.submit-add:active {
    background: #0f8ca6
}

.close-btn {
    background: linear-gradient(45deg, #0f8ca6, #40a0e5);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: 0;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 25px;
    height: 25px;
}

.close-btn::before {
    content: '\e02d';
}

.section-tools {
    color: #4a4e51;
    position: absolute;
    width: 100px;
    height: 240px;
    flex-direction: row;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    background: #1c1c24;
    top: 50px;
    right: 35px;
    border: #4a4e51 solid 0.1px;
    box-shadow: 0px 0px 10px 1px #4a4e51;
    font-size: 13px;
    z-index: 1;
}

.section-tools table tr td{
    height: 35px;
    width: 110px;
    color: #eee;
    border-bottom:1px solid #4a4e51;
}

#message__tools--delete::before{
    content: '\f2ed';
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}
#message__tools--edit::before{
    content: '\f044';
    /* content: '\f122';f */
    /* content: '\f112';p */
    /* content: '\f0ea';c */
    /* content: '\f08d';pin */
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}
#message__tools--forward::before{
    content: '\f122';
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}
#message__tools--response::before{
    content: '\f112';
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}
#message__tools--copy::before{
    content: '\f0ea';
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}
#message__tools--pin::before{
    content: '\f08d';
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}