body {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.main {
  width: 270px;
  height: 370px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  /*! *** */
  box-sizing: border-box;
  background-color: #15172b;
}

.main-singup{
  height: 420px;
}

.main:hover {
  box-shadow: 0px 0px 20px 1px #181b29;
}

.input-container {
  /*! *** */
  width: 100%;
  height: 50px;
  margin-top: 40px;
  position: relative;
}

.input {
  border: 0;
  /*! *** */
  outline: 0;
  width: 100%;
  height: 100%;
  color: #eee;
  font-size: 18px;
  padding: 4px 20px 0;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #303245;
}

.cut {
  top: -20px;
  right: 20px;
  width: 76px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  transform: translateY(0);
  transition: transform 200ms;
  background-color: #15172b;
}

.cut-short {
  width: 60px;
}
.cut-long{
  width: 85px;
}

/*! *** */
.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {
  top: 20px;
  right: 20px;
  color: #65657b;
  /*! *** */
  line-height: 14px;
  position: absolute;
  /*! *** */
  transform-origin: 0 50%;
  font-family: sans-serif;
  /*! *** */
  transition: transform 200ms, color 200ms;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 98%;
}

.submit:active {
  background-color: #06b;
}

.input-checkbox {
  margin-top: 20px;
  color: #65657b;
  margin-right: 20px;
}

.singup-container{
  width: 98%;
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}

.singup {
  color: #eee;
  text-decoration: none;
}