*::before, *::after {
    box-sizing: inherit;
    font-family: 'fonticon','fonticon2','Arial';
}

.section {
position: absolute;
width: 280px;
height: 320px;
flex-direction: row;
padding: 20px;
border-radius: 20px;
display: flex;
justify-content: center;
margin: 100px;
box-sizing: border-box;
background: #1c1c24;
top: 50px;
left: 400px;
border: #4a4e51 solid 1px;
}

.section:hover {
box-shadow: 0px 0px 5px 1px #4a4e51;
}

.main-input {
width: 100%;
height: 50px;
margin-top: 30px;
position: relative;
font-size: 16px;
}

.inputt {
border: 0;
outline: 0;
width: 100%;
height: 100%;
color: #eee;
font-size: 12px;
padding: 4px 20px 0;
border-radius: 12px;
background:#18171d;
box-sizing: border-box;
}

.cut {
top: -20px;
right: 20px;
width: 130px;
height: 20px;
position: absolute;
border-radius: 10px;
text-align: center;
justify-content: center;
transform: translateY(0);
transition: transform 200ms;
background: #1c1c24;
}

.cut-long{
width: 60px;
}

.inputt:focus~.cut,
.inputt:not(:placeholder-shown)~.cut {
transform: translateY(8px);
cursor: pointer;
border-radius: 15px;
box-shadow: 0 0 3px 0.5px #4a4e51;
}

.placeholder {
top: 20px;
right: 20px;
color: #716f79;
line-height: 14px;
position: absolute;
transform-origin: 0 50%;
transition: transform 200ms, color 200ms;
font-size: 14px;
}

.inputt:focus~.placeholder,
.inputt:not(:placeholder-shown)~.placeholder {
transform: translateY(-30px) translateX(10px) scale(0.75);
}

.inputt:not(:placeholder-shown)~.placeholder {
color: #716f79;
}

.inputt:focus~.placeholder {
color: #ef1f35;
}

.inputt:focus{
padding:5px 5px;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 0 3px 0.5px #4a4e51;
}

.submitbtn {
background: linear-gradient(45deg, #0f8ca6, #40a0e5);
border-radius: 12px;
border: 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
font-size: 14px;
height: 50px;
margin-top: 38px;
outline: 0;
text-align: center;
width: 98%;
}

.submitbtn:active {
background:#0f8ca6
}

.title{
text-align: center;
color: #eee;
font-size: 18px;
}

.close{
    background: linear-gradient(45deg, #0f8ca6, #40a0e5);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: 0;
    text-align: center;
    position: fixed;
    top: 160px;
    left: 510px;
    width: 25px;
    height: 25px;
}

.close::before{
content: '\e02d';
}