body {
  display: flex;
  justify-content: center;
  background: #15161a;
  box-sizing: border-box;
  direction: rtl;
}

* {
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Arial';
  font-size: 18px;
}

*::before, *::after {
  box-sizing: inherit;
  font-family: 'fonticon','fonticon2','Arial';
}

.main {
  width: 280px;
  height: 380px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 100px 100px;
  box-sizing: border-box;
  background: #1c1c24;
}

.main-singup {
  height: 430px;
}

.main:hover {
  box-shadow: 0px 0px 5px 1px #4a4e51;
}

.input-container {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  position: relative;
}

.input {
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  color: #eee;
  font-size: 18px;
  padding: 4px 20px 0;
  border-radius: 12px;
  box-sizing: border-box;
  background:#18171d;
}

.cut {
  top: -20px;
  right: 20px;
  width: 70px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  transform: translateY(0);
  transition: transform 200ms;
  background: #1c1c24;
}

.cut-short {
  width: 55px;
}

.cut-long {
  width: 100px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 3px 0.5px #4a4e51;
}

.placeholder {
  top: 20px;
  right: 20px;
  color: #716f79;
  line-height: 14px;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #716f79;
}

.input:focus~.placeholder {
  color: #ef1f35;
}

.input:focus{
  padding:5px 5px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 3px 0.5px #4a4e51;
}

.submit {
  background: linear-gradient(45deg, #0f8ca6, #40a0e5);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 98%;
}

.submit:active {
  background:#0f8ca6
}

.input-checkbox {
  margin-top: 20px;
  color: #65657b;
  margin-right: 20px;
}

.moving-pages {
  width: 98%;
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}

.pages {
  color: #eee;
  text-decoration: none;
}