body {
    height: 500px;
    margin: 1px;
    padding: 2px;
    color: #B3B6BF;
    background-color:#131517;
}

.main {
    height: 100%;
    margin: 0px;
    padding: 3px;
    border: 3px #17161f solid;
    background-color:#131517;
    border-radius: 10px 10px 10px 10px;
}

.messenger__sidebar {
    width: 30%;
    height: 100%;
    background-color: #212229;
    border: 1px #17161f solid;
    border-radius: 0px 10px 10px 0px;
}

.article__content {
    float: left;
    height: 100%;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
}

.sidebar__header {
    height: 22%;
    display: block;
    padding:10px 10px 0px;
    border-radius: 0px 10px 0px 0px;
}

.Contact {
    padding:5px 15px;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    border-radius: 5px;
}

.Contact__img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #3a76f7;
}

.Contact:hover ,.Contact:hover .Contact__img{
    margin: 5px;
    border: 0px;
    cursor: pointer;
    color: #f7f8fd;
    background: linear-gradient(80deg, #12141C, #296eff);
}

.article__header{
    height: 13%;
    padding:5px 10px; 
    box-sizing: border-box;
    background-color: #212229;
    border-radius: 10px 0px 0px 0px;
}

.header__Chat {
    float: right;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.div__icon{
    padding: 10px; 
    display: flex;
    justify-content: left;
}

.input__container {
    width: 98%;
    height: 10%;
    display: block;
    display: flex;
    justify-content: center;
    position: relative;
    right: 8px;
  }
  
.input {
    border: 0;
    outline: 0;
    width: 95%;
    height: 100%;
    color:#B3B6BF;
    font-size: 18px;
    padding: 4px 20px;
    border-radius:30px 0px 0px 30px;
    box-sizing: border-box;
    background-color:#1e1f25;
  }

.messenger__content{
    height:76%;
    background-color:#131517;
    overflow:auto
}

.icon__container{
    width: 10%;
    height: 100%;
    border: 0;
    float: right;
    display: flex;
    justify-content: right;
    color:#B3B6BF;
    padding: 4px 20px;
    border-radius:0px 30px 30px 0px;
    box-sizing: border-box;
    background-color:#1e1f25;
}

.input_search{
    border: 0;
    direction:ltr;
    display: inline-block;
    outline: 0;
    width: 100%;
    height: 40px;
    color:#e2e2d6;
    font-size: 18px;
    padding: 4px 20px;
    margin-top: 5px;
    border-radius:10px;
    box-sizing: border-box;
    background-color:#17161f;
}

.text-me {
    background-color:#3a76f7;
    border-radius:15px 2px 15px 15px;
    padding: 5px;
    margin: 5px;
    text-align: right;
    color:#F2F2F2;
    width: 250px;
    /* float:right; */
}
.text-you {
    float:left;
    background-color:#1e1f25;
    border-radius:1px 15px 15px 15px;
    padding: 5px;
    margin: 5px;
    text-align: right;
    width: 313px;
    color:#F2F2F2;
}

.all_contact{
    height: 76%;
    overflow:auto;
}